{% include 'header.html' %}

<body>
    <div class="container col-xl-8 px-4 py-3">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <h1>Вы уверены, что хотите удалить эту книгу?</h1>
            <form method="POST" enctype="multipart/form-data" class="needs-validation w-100 text-center" novalidate="">
                {% csrf_token %}
                <button class="btn btn-dark btn-lg" type="submit">ДА</button>
                <button class="btn btn-dark btn-lg"><a href="/">НЕТ</a></button>
            </form>
        </div>
    </div>

{% include 'footer.html' %}
